asn1crypto==0.24.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
DateTime==4.3
Flask==1.1.1
Flask-Cors==3.0.8
Flask-MySQLdb==0.2.0
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
jwt==0.6.1
MarkupSafe==1.1.1
mysqlclient==1.4.2.post1
Naked==0.1.31
passlib==1.7.1
portalocker==1.5.0
pycparser==2.19
pycryptodome==3.8.2
PyJWT==1.7.1
pypiwin32==223;sys_platform == 'Windows'
pytz==2019.2
pypiwin32==224;sys_platform == 'Windows'
PyYAML==5.1.2
requests==2.22.0
shellescape==3.4.1
six==1.12.0
urllib3==1.25.3
waitress==1.3.0
Werkzeug==0.15.4
WTForms==2.2.1
zope.interface==4.6.0
